<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>个人中心</title>
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
</head>
<body>
	<!-- 	<div class="weui-cells__title">我的</div> -->
	<div class="content" th:object="${session.userinfo}">
		<div class="list-block">
			<ul>
				<!-- Text inputs -->
				<li ><a href="todispatchpage?dispatchpage=my_info">
						<div class="item-content">
							<div class="item-inner">
								<div class="item-title label">
									<img width="100" alt="" th:src="${session.userinfo.headimgurl}">
									用户昵称:<span th:text="${session.userinfo.nickname}" style="text-align: left;margin-left: 0px;padding-left: 0px;"></span>
								</div>
								<div class="item-input" align="left">
									
									<br> <br>
								</div>
							</div>
						</div>
				</a></li>
				<li ><a href="">
						<div class="item-content">
							<div class="item-inner">
								简历
							</div>
						</div>
				</a></li>
				<li ><a href="">
						<div class="item-content">
							<div class="item-inner">
								钱包
							</div>
						</div>
				</a></li>
				<li ><a href="">
						<div class="item-content">
							<div class="item-inner">
								卡劵
							</div>
						</div>
				</a></li>
				<li ><a href="todispatchpage?dispatchpage=self_setting">
						<div class="item-content">
							<div class="item-inner">
								设置
							</div>
						</div>
				</a></li>
			</ul>
		</div>
	</div>
</body>
<script type='text/javascript'
	src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript'
	src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript'
	src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'>
	charset = 'utf-8'>
</script>
<script type="text/javascript">
	
</script>
</html>