<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>重置密码</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">

</head>
<body>
	<div class="page-group">
		<div class="page page-current">
			<!-- 你的html代码 -->
			<header class="bar bar-nav">
				<h1 class='title'>重置密码</h1>
			</header>
			<div class="content">
				<div class="list-block">
					<ul>
						<!-- Text inputs -->
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-name"></i>
								</div>
								<div class="item-inner">
									<div class="item-input">
										<input type="text" placeholder="注冊郵箱" name="email" id="email"
											th:value="${#httpServletRequest.getAttribute('email')}" readonly="readonly">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-name"></i>
								</div>
								<div class="item-inner">
									<div class="item-input">
										<input type="password" name="password" placeholder="请输入密码" id="password"/>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-name"></i>
								</div>
								<div class="item-inner">
									<div class="item-input">
										<input type="password" name="repassword" id="repassword"
											placeholder="请确认密码" />
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-block">
					<div class="row">
						<div class="col-50">
							<a href="#" class="button button-big button-fill button-success"
								id="resetPassWord">重置密码</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<script type='text/javascript'
		src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
	<script type="text/javascript">
		$("#resetPassWord").click(
				function() {
					var password_ = $("#password").val();
					alert(password_);
					var repassword_ = $("#repassword").val();
					if (password_=="") {
						$("#password").css("border-style","solid");
			    		$("#password").css("border-color","#ff0000");
						$("#password").attr("placeholder", "请输密码");
						return false;
					}
					if (repassword_=="") {
						$("#repassword").css("border-style","solid");
			    		$("#repassword").css("border-color","#ff0000");
						$("#repassword").attr("placeholder", "请输确认密码");
						return false;
					}
					$.ajax({
		 			　　　　url : 'resetpassword',　   <!-- url  :请求地址 --> 
		 			　　　　type : 'post',　　　　　　　　<!--type ：请求类型:post/get --> 
			 			  xhrFields: {
			 		           withCredentials: true
			 		       },
		 		          crossDomain: true,
		 			　　　　data : {　　　　　　　　　　　<!--data ：发送给服务器的数据 -->
		 						 password  : password_　　　　　　  <!-- 使用自己声明的对象 -->  
		 			　　　　　　},
		 			　　　　dataType : 'json',                    <!--dataType:服务器返回的数据类型 text/xml/script/html/json/jsonp -->
		 			　　　　success: function(data){　　　<!--回调函数 --> 
		 						if(data){
		 							alert(data.msg);
						　　　　　　}　else{
									$.alert('密码修改失败');
						　　　　　　}　
		 			　　　　　　}
		 			　　　　});
				})
	</script>
</body>
</html>