<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>登陆</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
</head>
<body>
	<div class="page__hd">
		<h1 class="page__title">常用功能</h1>
	</div>
	<div class="weui-grids">
		<a href="##" url="/salraypage" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">薪酬发放查询</p>
		</a> <a href="##" url="/salraypage" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">考勤查询</p>
		</a> <a href="##" url="/salraypage" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">最新IT咨询</p>
		</a> <a href="##" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">趣味拓展活动</p>
		</a> <a href="##" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">视频面试</p>
		</a> <a href="##" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">绩效考核</p>
		</a> <a href="##" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">各项目动态</p>
		</a> <a href="##" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">优秀个人表彰</p>
		</a> <a href="##" class="weui-grid">
			<div class="weui-grid__icon">
				<img src="images/icon_tabbar.png" alt="">
			</div>
			<p class="weui-grid__label">通知公告</p>
		</a>
	</div>
	<script type="text/javascript" src="js/jweixin-1.0.0.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="js/example.js"></script>
	<script src='js/sm.min.js'></script>
</body>
<script type="text/javascript">
	$(".weui-grid").click(function() {
		window.location.href = $(this).attr("url");
	});
	//打开自动初始化页面的功能
	//建议不要打开自动初始化，而是自己调用 $.init 方法完成初始化
	$.config = {
		autoInit : true
	}
</script>
</html>