<html lang="zh-cmn-Hans">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>注册</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<meta http-equiv="Cache-Control"
	content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="//g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="js/jquery-3.3.1.min.js">
</head>
<body>
	<div class="page-group">
		<div class="page page-current">
			<div class="content">
				<div class="list-block">
					<ul>
						<!-- Text inputs -->
						<li>
							<div class="item-content" th:object="${session.userinfo}">
								<div class="item-media">
									<i class="icon icon-form-name"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">真实姓名</div>
									<div class="item-input">
										<input type="text" placeholder="真实姓名" name="realname"
											id="realname">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-email"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">邮件</div>
									<div class="item-input">
										<input type="email" placeholder="邮件" id="email"
											onchange="validate();">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-password"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">密码</div>
									<div class="item-input">
										<input type="password" placeholder="密码" id="password">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-gender"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">性别</div>
									<div class="item-input">
										<select id="sex_user" name="sex">
											<option selected="selected" value="1">男</option>
											<option value="2">女</option>
											<option value="0">未知</option>
										</select>
									</div>
								</div>
							</div>
						</li>
						<!-- Date -->
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-calendar"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">生日</div>
									<div class="item-input">
										<input type="date" placeholder="生日" value="1980-04-30"
											name="birthday" id="birthday">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-calendar"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">入职日期</div>
									<div class="item-input">
										<input type="date" placeholder="入职日期" value="2014-04-30"
											name="enterDay" id="enterDay">
									</div>
								</div>
							</div>
						</li>
						<li class="align-top">
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-comment"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">手机号码</div>
									<div class="item-input">
										<input type="text" placeholder="手机号码" name="mobile"
											onchange="isPoneAvailable(this.value);" id="mobile">
									</div>
								</div>
							</div>
						</li>
						<li class="align-top">
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-comment"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">身份证号</div>
									<div class="item-input">
										<input type="text" placeholder="身份证号" name="ino" id="ino"
											onchange="isCardNo(this.value);">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-block">
					<div class="row">
						<div class="col-100">
							<a id="btn" class="button button-big button-fill button-danger">注册</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type='text/javascript'
	src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript'
	src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript'
	src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'>
	charset='utf-8'></script>
<script type="text/javascript">
//校验电话
function isPoneAvailable(str) {
    var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;
    if (!myreg.test(str)) {
    	$("#mobile").css("border-style","solid");
		$("#mobile").css("border-color","#ff0000");
		$("#mobile").val("");
		$("#mobile").attr("placeholder", "请检查手机号码格式");
        return false;
    } else {
    	$("#mobile").css("border-style","solid");
		$("#mobile").css("border-color","white");
        return true;
    }
}

function isEmailAvailable(str){
	  var re = /^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/
	  if(re.test(str)){
		  $("#email").css("border-style","solid");
  		  $("#email").css("border-color","white");
      	  return true;
	  }else{
		  $("#email").css("border-style","solid");
  		  $("#email").css("border-color","#ff0000");
  		  $("#email").val("");
  		  $("#email").attr("placeholder", "请检查邮箱格式");
          return false;
	  }
	}

function isCardNo(card) 
{ 
	// 身份证号码为15位或者18位，15位时全为数字，18位前17位为数字，最后一位是校验位，可能为数字或字符X 
	var reg = /(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/; 
	if(reg.test(card) === false) 
	{ 
	 	  $("#ino").css("border-style","solid");
		  $("#ino").css("border-color","#ff0000");
		  $("#ino").val("");
		  $("#ino").attr("placeholder", "身份证输入不合法");
		return false; 
	}else{
		$("#ino").css("border-style","solid");
		$("#ino").css("border-color","white");
	} 
} 
         
function validate() {
	var email_ = $("#email").val();
	isEmailAvailable(email_)
	$.ajax({
		　　　　url : 'ajaxcheckEmailPassWord',　   <!-- url  :请求地址 --> 
		　　　　type : 'post',　　　　　　　　<!--type ：请求类型:post/get --> 
			  xhrFields: {
		           withCredentials: true
		       },
	          crossDomain: true,
		　　　　data : {　　　　　　　　　　　<!--data ：发送给服务器的数据 -->
					 email  : email_
		　　　　　　},
		　　　　dataType : 'json',                    <!--dataType:服务器返回的数据类型 text/xml/script/html/json/jsonp -->
		　　　　success: function(data){　　　<!--回调函数 --> 
//		　　　　　　console.log(data);         <!--浏览器控制台显示返回内容（建议使用） -->  
		　　　　　　if(data){
					$("#email").css("border-style","solid");
			  		$("#email").css("border-color","#ff0000");
			  		$("#email").val("");
					$("#email").attr("placeholder", "该邮箱已经被注册!");
		　　　　　　}　　　　　     <!--弹框显示返回内容  -->
		　　　　　　}
		　　　　});
}


$(document).ready(function(){
	$("#btn").click(function(){
	   var realname = $("#realname").val()
	    if(realname==''){
    		$("#realname").css("border-style","solid");
    		$("#realname").css("border-color","#ff0000");
			$("#realname").attr("placeholder", "请输入真实姓名");
    		return false;
    	}
    	var email = $("#email").val();
    	if(email==''){
      		$("#email").css("border-style","solid");
    		$("#email").css("border-color","#ff0000");
			$("#email").attr("placeholder", "请输入邮箱");
      		return false;
      	}
      	var password = $("#password").val();
      	if(password==''){
      		$("#password").css("border-style","solid");
    		$("#password").css("border-color","#ff0000");
			$("#password").attr("placeholder", "请输入密码");
      		return false;
      	}
     	var  myselect=document.getElementById("sex_user");
     	var index = myselect.selectedIndex;//获取选中的index
     	var sex = myselect.options[index].value;//获取value值
    	var birthday = $("#birthday").val();
        var enterDay = $("#enterDay").val();
    	var mobile = $("#mobile").val();
    	if(mobile==''){
    		$("#mobile").css("border-style","solid");
    		$("#mobile").css("border-color","#ff0000");
			$("#mobile").attr("placeholder", "请输入注册微信所使用的手机号");
    		return false;
    	}
		var ino = $("#ino").val();
    	if(ino==''){
    		$("#ino").css("border-style","solid");
    		$("#ino").css("border-color","#ff0000");
			$("#ino").attr("placeholder", "内部员工请输入身份证号实名制注册");
    		return false;
    	}
    	$.ajax({
			　　　　url : 'ajaxRegistered',　   <!-- url  :请求地址 --> 
			　　　　type : 'post',　　　　　　　　<!--type ：请求类型:post/get --> 
 			  xhrFields: {
 		           withCredentials: true
 		       },
		          crossDomain: true,
			　　　　data : {　　　　　　　　　　　<!--data ：发送给服务器的数据 -->
						 email  : email,
			　　　　　　　　password : password,　　　　　　  <!-- 使用自己声明的对象 --> 
						realname : realname,
						email : email,
						password : password,
						sex : sex,
						birthday : birthday,
						enterDay : enterDay,
						mobile : mobile,
						ino : ino
			　　　　　　},
			　　　　dataType : 'json',                    <!--dataType:服务器返回的数据类型 text/xml/script/html/json/jsonp -->
			　　　　success: function(data){　　　<!--回调函数 -->        
			　　　　　　if(data){
						$.alert('注册成功', function () {
							window.location.href="nav_tabbar?v="+Math.random();
					      });
			　　　　　　}　else{
						$.alert('注册不成功');
			　　　　　　}　　　　
			　　　　　　}
			　　　　});
    	
	})
})
</script>
</html>